<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Select your city</h5>
        <p class="card-text">
            <div class="form-group select-box">
                <label for="sel1">Select Continent:</label>
                <select class="form-control" id="sel1" (change)="onContinentChange($event.target.value)">
                    <option selected disabled>Select Continent</option>
                    <option *ngFor="let continent of continents" value="{{continent.id}}">{{continent.name}}</option>

                </select>
            </div>
            <div class="form-group select-box">
                <label for="sel1">Select Country:</label>
                <select class="form-control" id="sel1" (change)="onCountryChange($event.target.value)">
                    <option selected value="null">Select Country</option>
                    <option *ngFor=" let country of countries" value="{{country.id}}">{{country.name}}</option>
                </select>
            </div>
            <div class="form-group select-box">
                <label for="sel1">Select City:</label>
                <select class="form-control" id="sel1">
                    <option selected value="null">Select City</option>
                    <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
                </select>
            </div>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
    <!-- <img class="card-img-bottom" src="..." alt="Card image cap"> -->
</div>